#navb{
			background-color: #7a7d7b;
			margin-bottom: 50px;
		}
		.navbar-brand{
			font-size: 1.5rem;
		}
		.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
			color: #edf7f1 ;
		}
		html{
	height: 100%;
}
#content{
	padding-top: 25%;
	text-align: center;
	color: #c7d7f2;

	/*offset-x||offset-y||blur-radius||color*/
	text-shadow:0px 4px 3px rgba(0, 0, 0, 0.4),
				0px 8px 13px rgba(0, 0, 0, 0.1),
				0px 18px 23px rgba(0, 0, 0, 0.1);
}
body{
	background:url(https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2129&q=80) ;
	background-size: cover;
	font-family: 'Lato',sans-serif;
	background-position: center;
	/*background-repeat: no-repeat;*/
}
h1{
	font-weight: 700;
	font-size: 5.0em;
}
h1,h3{
	color: white;	
}
hr{
	/*width: 400px;
	padding-left: 30%;
	padding-right: 30%;*/
	border-top:  1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}