/*element*/

/*class*/
.class
/*id*/
#comp
/*star*/ /*selects everything on the page*/
*{

}

/*descendant selector that is inside*/
 ul li a {

 }
/*adjacent selector + that comes after*/
 h4+ ul{

 }
/*attribute selector based of any attribute [like all anchor tags]*/ /*[note that href is the actual aatribute= here ]*/
a[href="https://www.google.com"]{

}
input[type="radoio"]{

}

/*nth of type    like every 2nd div or every 4th li or every 7th anchor tag*/

/* Odd paragraphs */
p:nth-of-type(2n+1) {
  color: red;
}

/* Even paragraphs */
p:nth-of-type(2n) {
  color: blue;
}

/* First paragraph */
p:nth-of-type(1) {
  font-weight: bold;
}

/* This will match the 3rd paragraph as it will match elements which are 2n+1 AND have a class of fancy.
The second paragraph has a class of fancy but is not matched as it is not :nth-of-type(2n+1) */
p.fancy:nth-of-type(2n+1) {
  text-decoration: underline;
}
